﻿<html>
<head>
    <link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../../Scripts/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.fileupload.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
		function guidGenerator() {
			var S4 = function () {
				return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
			};
			return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
		}
		function MergeBlocks(filename) {
			$.post('/upload/mergeblocks', { FileName: filename, SessionId: $('#sessionId').val() });
		}

		$(function() {
			$('#dictionaryFileInputContainer').fileupload({
					url: '/filetransfer.ashx',
					paramName: "dictionaryFile",
				maxChunkSize: 4194304,
				sequentialUploads:true,
				limitMultiFileUploads: 1,
					add: function(e, data) {
						$('#createButton').on('click',
							function () {
								$('#sessionId').val(guidGenerator());
								data.submit();
							});
				},
				done: function (e, data) {
				},
				fail: function (e, data) {
					$('#sessionId').val(guidGenerator());
					alert("Error");
				}
				})
				.bind('fileuploadprogressall',
					function(e, data) {
						var progress = parseInt(data.loaded / data.total * 100, 10);
						progress = progress == 99 ? 100 : progress;
						$('#uploadingProgressBar').css('width', progress + '%');
					})
				.bind('fileuploadalways',
					function(e, data) {
						$('#uploadingProgressBar').css('width', '100%');
						MergeBlocks(data.files[0].name);
						$('#sessionId').val(guidGenerator());
					});
		});
		});
	</script>
</head>
    <body>
        <div class="container">
            <form class="form-horizontal" enctype="multipart/form-data" id="dictionaryCreationForm" action="upload" method="POST">
                <fieldset>
                    <input type="hidden" name="sessionId" id="sessionId" />
                    <div class="control-group">
                        <div class="controls">
                            <input type="file" id="dictionaryFileInputContainer" name="uploadedFileName" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="uploadingProgressBar">
                            Uploading Progress</label>
                        <div class="controls">
                            <div class="progress progress-info" style="width: 30%">
                                <div class="bar" style="width: 0%;" id="uploadingProgressBar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="button" id="createButton" class="btn" value="Submit">
                        </div>
                    </div>
                </fieldset>
        </form>
        </div>
    </body>
</html>
